extends layout

block content
  div(class='intro-container times')
    h1(class='creepster red') #{story.title}
    a(href=`/users/${story.author.id}`) #{story.author.username}
    p!= story.story
    p rating: #{totalRating}% (#{totalReviews})
    form(action='' method='POST')
      button(name='upvote' id='upvote' class='button-fit') Like
    form(action='' method='POST')
      button(name='downvote' id='downvote' class='button-fit') Dislike